
@{
    ViewData["Title"] = "Login";
}
@model QuestionAnswer.Entities.Concrete.User
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-5">Login</h1>
                <hr><br/>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-left">Kullanıcı Adı:</label>
                        <input type="text" asp-for="Username" class="form-control" placeholder="Lütfen kullanıcı adınızı giriniz..."/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-left">Şifre :</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Lütfen şifrenizi giriniz..."/>
                    </div>
                    <div class="form-group">
                        <br/>
                        <input type="submit" class="btn btn-primary" value="Giriş Yap"/>
                    </div>
                    @if (ViewBag.emptyFields != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.emptyFields
                        </div>
                    }
                    else
                    {
                    }
                </form>
            </div>
        </div>
    </div>