@{
    ViewData["Title"] = "Home Page";
}
@using System.Security.Claims

<div class="row">
    <div class="yellowtext col-12"><i style="font-size: 39.28px; line-height: 32.7333px;">Ortaokuldan liseye bütün öğrenciler bu uygulama ile başarıya koşuyor!</i></div>
    <ul class="select col-12">
        <li class="boxheight column col-6">
            <div class="block text-center p-3">
                <img src="img/ortaokul.png" border="0" alt="Ortaokul 5 sınıf, 6 sınıf, 7 sınıf, 8 sınıf matematik, fen bilimleri, sosyal bilgiler, türkçe ve inkılap tarihi derslerine ait online interaktif ve videolu konu anlatımları, teogs, interaktif testler var.">
                <h3>ORTAOKUL</h3>
                <div class="desc">Soru-Cevap Uygulaması; öğretmenler tarafından sisteme eklenen seçilmiş sorular aracılığı ile size eşsiz bir sınav tecrübesi katmaktadır. Bütün ortaokul öğrencilerinin rahat bir şekilde kullanması hedeflenerek hazırlanmıştır.</div> <br />
                @if ((User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "Teacher"))
                {
                    <a href="/Question/Add">Soruları Görmek için...</a>
                }
                else
                {
                    <a href="/Test/Exam">Soruları Görmek için...</a>
                }
            </div>
        </li>
        <li class="float-right col-5 boxheight advantages" style="padding-top: 5%">
            <div class="ina-vitamininfo-content">
                <h4 class="font-weight-bold">Kolay değil çok kolay kullanım  </h4>
                <p>Öğrenci ve öğretmen testleri sonuçlarına göre her yıl daha fazla kullanıcı odaklı olarak geliştirilen kullanıcı dostu arayüzle, tüm beklentilerine anında karşılık bul!</p>
            </div>
            <br />
            <div class="ina-vitamininfo-content">
                <h4 class="font-weight-bold">Alıştırmalarla pekiştirmeler</h4>
                <p>Konuları sıcağı sıcağına özümsemeni ve unutmamanı sağlayan sayısız etkileşimli alıştırmayla öğrendiklerini hemen uygulamaya geçir, bir öğren bir pekiştir!</p>
            </div>
        </li>

    </ul>
</div>
<script>
    document.body.classList.add("home-page");
</script>
